button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 14px 50px;
    border-radius: 4px;
    background-color: #37B595;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 22px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: #1A7F75;
}

button.previous {
    background-color: #A2ACAF;
}

button.previous:hover {
    background-color: #5A5F61;
}

.full-width-container {
    width: 100%;
    min-width: 320px;
}

.sized-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.slide-container {
    position: relative;
    left: 0;
    overflow: hidden;
}

.slide {
    float: left;
}

.slide .sized-container {
    padding: 75px 25px;
}

.button-container {
    border-top: 1px solid black;
    overflow: hidden;
    padding-top: 30px;
}

.button-container button {
    float: right;
    margin-left: 30px;
}

.pagination-container {
    margin-top: 120px;
}

.pagination {
    width: 100%;
    text-align: center;
    padding: 0 25px;
}

.indicator .tag {
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: lightgray;
    white-space: nowrap;
    display: none;
}

.indicator.active,
.indicator.complete {
    border-color: #37B595;
}

.indicator.active .tag,
.indicator.complete .tag {
    color: #37B595;
    display: none;
}

.indicator.complete:after {
    content: "✓";
    position: absolute;
    color: #37B595;
    left: 4px;
    top: 3px;
    font-size: 14px;
    display: none;
}

.progress-bar-container {
    width: 18%;
    height: 4px;
    display: inline-block;
    background-color: lightgray;
    position: relative;
    top: -10px;
}

.progress-bar-container:last-of-type {
    display: none;
}

.progress-bar-container .progress-bar {
    width: 0;
    height: 100%;
    background-color: #37B595;
}

#reg-slide .container {
    overflow: hidden;
}







/***************************************************
***************************************************
****************************************************




****************************************************
***************************************************
****************************************************/

.agileits_copyright {
    text-align: center;
}

.agileits_copyright p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
    margin-top: 2em;
}

.agileits_copyright p a {
    color: #38a90e;
    text-decoration: underline;
}

.agileits_copyright p a:hover {
    color: #fff;
}

input[type="submit"],
.agileits_copyright p a,
a {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.main {
    padding: 3em 0;
}

.main h1 {
    text-align: center;
    color: #fff;
    font-size: 3em;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
}

*/
/*-- //main --*/

.w3_agile_main_grids {
    width: 45%;
    margin: 0 auto;
}

#steps {
    margin: 80px 0 0 0;
}

.commands {
    overflow: hidden;
    margin-top: 30px;
}

.prev {
    float: left;
}

.next,
.submit {
    float: right;
}

.error {
    color: #d65c0d;
    display: block;
    font-size: 13px;
    font-style: italic;
}

#progress {
    position: relative;
    height: 15px;
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 20px;
}

#progress-complete {
    border: 0;
    position: absolute;
    height: 15px;
    min-width: 10px;
    background-color: #d65c0d;
    transition: width .5s ease-in-out;
    border-radius: 20px;
}

.btn-primary,
button#step1Prev,
button#step2Prev {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 10px 45px;
    background: #d65c0d;
    outline: none;
    border: none;
    cursor: pointer;
}

.font-control {
    font-size: 14px;
}

.half {
    width: 24%;
    display: inline-block;
}

.copy-context {
    color: #fff;
    text-align: center;
}

.copy-context img {
    width: 100px;
    margin-bottom: -4px;
}

.checkin {
    margin-left: 30%;
}



/*Thanks Message CSS*/

.check_mark {
    width: 80px;
    height: 130px;
    margin-left: 87px;
}

button {
    cursor: pointer;
    margin-left: 15px;
}

.hide {
    display: none;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.sa-icon.sa-success {
    border-color: #4CAF50;
}

.sa-icon.sa-success::before,
.sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, .5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
    border-color: transparent\9;
}

.sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
}

.sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.thanks-messsage {
    display: inline-flex;
}

.single-message {
    margin-left: 45px;
    margin-top: 38px;
}

.single-message span {
    color: #38A90E;
}

.btn-min {
    margin-right: 195px;
}
