/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.no-padding {
    padding: 0;
}

/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/

#login,
#reg-slide {
    background: url(../img/01.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 999;
}

#login:after,
#reg-slide:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: .7;
}

.login-content {
    width: 100%;
    height: 100vh;
}

.login-txt {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.log-frm {
    padding: 50px;
    box-shadow: 0 0 5px #ddd;
    background: rgba(0, 0, 0, .3);
}

.log-frm input,
.log-frm option {
    color: #fff !important;
}

/*
=========----------------------------------=========
            3.Registration reg Section Css     
=========----------------------------------=========
*/

.input-field i.prefix {
    font-size: 20px;
    margin-top: 10px;
}

.sing-color {
    color: #fff;
}

.reg-frm {
    padding: 15px;
    box-shadow: 0 0 5px #ddd;
}

.select-wrapper input.select-dropdown {
    color: #9e9e9e;
}

.reg-frm input {
    color: #fff;
}

.log-frm.on-going h4 {
    color: #fff;
    margin-bottom: 70px;
}

.profession .single-going p {
    margin-top: 50px;
    text-align: left;
}

.owl-carousel .owl-item img {
    width: 44px;
}



.all-reg-frm .owl-nav {
    position: absolute;
    bottom: 19%;
    left: 50%;
    font-size: 50px;
    line-height: 60px;
    margin-top: -30px;
    transition: .3s;
    color: #fff;
    margin-left: -100px;
}

.all-reg-frm .owl-nav.owl-next {
    left: auto;
    right: 50px;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {}

.owl-nav button.owl-next {
    position: relative;
    z-index: 999;
    margin-left: 20px;
    width: 80px;
    text-align: right;
}

.owl-nav button.owl-prev {
    position: relative;
    z-index: 999;
    margin-right: 20px;
    width: 80px;
    text-align: left;
}

.owl-nav button.owl-next:after {
    position: absolute;
    left: -22px;
    top: 0;
    width: 100%;
    height: 100%;
    content: "Next";
    font-size: 20px;
    margin-top: 3px;
}

.owl-nav button.owl-prev:after {
    position: absolute;
    left: 22px;
    top: 0;
    width: 100%;
    height: 100%;
    content: "Prev";
    font-size: 20px;
    margin-top: 3px;
}

/*
=========----------------------------------=========
            4.Event Going Confurmation Css     
=========----------------------------------=========
*/

.single-going p {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.single-going img {
    width: 60px;
}

.single-going i.icofont {
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -50px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.single-going:hover i.icofont {
    opacity: 1;
    visibility: visible;
    color: #26A69A;
    font-size: 40px;
}

.single-going p {
    margin: 0;
    margin-right: 20px;
}

.log-frm.on-going {
    padding-top: 70px;
}

.going-confurm .single-going p {
    margin-top: 32px;
}

/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-context img {
    width: 100px;
}

.copy-right .row {
    margin-bottom: 0;
    padding-bottom: 0;
}

.copy-context p {
    margin: 0;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       Summery PAGE CSS                      |
 -------------------=======================----------------
*/

.single-event {
    background: url(../img/02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 999;
}

.single-event:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .75;
    z-index: -1;
}

.single-event .card-header {
    background: rgba(0, 0, 0, .2);
}

.single-event .card-footer {
    background: rgba(0, 0, 0, .2);
    height: 80px;
}

.single-event .card {
    background: transparent;
}

.single-event {
    margin: 0 15px;
    color: #fff;
}

.gmaip-link i.icofont {
    font-size: 25px;

}

a.gmaip-link {
    display: block;
    font-size: 14px;
    text-decoration: none;
    height: 85px;
    text-align: center;
    color: #fff;
}

.location:hover i.icofont {
    font-size: 35px;
    color: #339444;
}

.single-event {
    box-shadow: 0 0 5px #ddd;
}

.time-table h5 {
    font-size: 14px;
    margin: 0;
}

.time-table span {
    color: #349545;
    margin-left: 10px;
}

.map-show {
    position: absolute;
    top: -273%;
    width: 250px;
    left: -100%;
}

.location .map-show {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.location:hover .map-show {
    opacity: 1;
    visibility: visible;
}

.single-event .card-footer .row {
    margin: 0;
}

/*
 -------------------=======================----------------
|                       sure php PAGE CSS                      |
 -------------------=======================----------------
*/

.sucess-title {
    color: #fff;
}

.sure-joinchoose {
    color: #999;
}

/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/

/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
